* {
  font-family: JetBrainsMono Nerd Font Propo, sans-serif;
}

#waybar {
  background-color: #000000;
  color: #ffffff;
  font-size: 12px;
}

.modules-left,
.modules-center,
.modules-right {
  margin: 0px 20px;
}

button {
  background: none;
  border: none;
  padding: 0px 5px;
  transition: none;
}

#workspaces button label {
  color: #888888;
}

#workspaces button.active label {
  color: #ffffff;
}

#power-profiles-daemon.performance {
  color: #ff00ff;
}

#workspaces button.urgent label
#battery.warning,
#battery.critical,
#wireplumber.muted,
#bluetooth.on,
#network.disconnected,
#custom-drepos.dirty {
  color: #ff0000;
}

#power-profiles-daemon.power-saver,
#bluetooth.connected,
#battery.charging,
#battery.plugged {
  color: #00ff00;
}
